<!-- Animated Navbar -->
<nav class="navbar navbar-expand-md navbar-scroll fixed-top navbar-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand px-4">PSI UPSILON (AO)</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation-bar" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

        <div class="collapse navbar-collapse" id="navigation-bar">
            <ul class="navbar-nav flex-row ms-auto px-5 row row-cols-1 row-cols-sm-auto">
                <li class="navbar-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/brothers">Brothers</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/about">Contact Us</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="https://www.psiu.org" target="_blank" rel="noreferrer noopener">National</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Animated Navbar -->