<div class="container text-center">
    <div class="row row-cols-sm-1 justify-content-center p-5 m-3 ">
        <div class="col" style="max-width: 30rem;">
            <div class="card border-3 border-dark rounded">
                <div class="card-header p-3">
                    <h3>Get In Touch!</h3>
                </div>
                <div class="card-body m-2 p-2">
                    {{ range $.Page.Params.contact }}
                    <h5>{{.title}}</h5>
                    {{if .link}}
                    <a href="{{.link}}">
                        <p>{{.desc}}</p>
                    </a>
                    {{ else }}
                    <p>{{.desc}}</p>
                    {{end }} {{end}}
                </div>
            </div>
        </div>
    </div>
</div>