<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>

<div class="container text-center">
    <div class="row row-cols-sm-1 justify-content-center p-5 m-3 ">
        <div class="col" style="max-width: 30rem;">
            <div class="card border-3 border-dark rounded">
                <div class="card-header p-3">
                    <h3>Get In Touch!</h3>
                </div>
                <div class="card-body m-2 p-2">
                    <h5>Email</h5>
                    <p>undergrads.psiu.ao@gmail.com</p>
                    <h5>Address</h5>
                    <p>261 Martin Luther King Jr. Blvd<br>Newark, Nj 07102</p>
                    <h5>Psi Upsilon Interest Form</h5>
                    <a href="https://forms.gle/3bExK8zauXXwVhF97">Interest Form</a>
                </div>
            </div>
        </div>
    </div>
</div>