<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<div class="container p-5 text-center" style="max-width:75rem;">
    <h3>Meet the brothers of Psi Upsilon at NJIT!</h3>
    <div class="p-3"></div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2 justify-content-center align-items-start">
        {{ $raw := getJSON "https://api-us-east-1.graphcms.com/v2/ckzn0i50h55rt01yy2hsf9tdg/master?query=query%20brotherList%20%7B%0A%20%20brotherList(where%3A%20%7Bname%3A%20%22ourBrotherOrder%22%7D)%20%7B%0A%20%20%20%20brothers%20%7B%0A%20%20%20%20%20%20desc%0A%20%20%20%20%20%20title%0A%20%20%20%20%20%20name%0A%20%20%20%20%20%20bio%0A%20%20%20%20%20%20img%20%7B%0A%20%20%20%20%20%20%20%20url%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A&operationName=brotherList"}}
        {{ range $brothers := $raw.data.brotherList.brothers }}
        <div class="col">
            <div class="card text-black" tabindex="0" data-bs-toggle="overlay">
                <img src="{{.img.url }}" class="card-img brother-img" alt="{{.img}}">
                <div class="card-img-overlay text-white p-0 d-flex justify-content-center align-content-center invisible">
                    <p class="card-text p-2 ">{{.bio}}</p>
                </div>
                <div class="card-body ">
                    <h5 class="card-title "><strong>{{.name}}</strong></h5>
                    <em class="card-subtitle ">{{.title}}</em>
                    <p class="card-text ">{{.desc}}</p>
                </div>
            </div>
        </div>
        <script src="/js/thumbnail_overlay.js"></script>
        {{ end }}
    </div>
</div>