<div class="container text-center g-4 p-4" style="max-width:65rem;">
    <h3>No Events</h3>
    <p>We dont have any upcoming events at the moment</p>

    <!--
    <div class="card mb-2 mx-auto" style="width:40rem;">
        <div class="row g-0">
            <div class="col">
                <img src="event.img.url" style="height:18rem;" class="img-fluid rounded-3" alt="event.title">
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">(TITLE)</h5>
                    <p class="card-text">(DESC)</p>
                    <p class="card-text"><small class="text-muted">(DATETIME)</small></p>
                </div>
            </div>
        </div>
    </div>
-->
</div>